---
title: About this blog
date: '2026-02-24'
description: This is my first blog post
---

# Welcome to Blog

This is the first post on blog.

In this blog I will write about software things that I will find interesting.

Something will come from my everyday working activities. Something will come from my hobbies.

That's it for now!
